@import "../../../assets/sass/base/fonts";
@import "../../../assets/sass/base/presets";
@import "../../../assets/sass/base/typography";

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/mixins/_breakpoints";

@import "../../../inclusive-components/typography/body/Text.module.scss";
@import "../../../inclusive-components/A11y-common.module.scss";

.title {
  margin: 20px 0px 0px;
  padding-right: 45px;

  @extend .text-20;
  @extend .text-bold;
}

.item {
  @include text;
  margin-top: 30px;
  padding: 0px 0px 0px 0px;
  color: $color-black;
  position: relative;

  &:last-child {
    div[class*="ModuleListItem_blocks__"] {
      section[class^="Accordion_accordion_"] {
        h4 {
          button[class*="Accordion_accordion__control_"] {
            border-bottom: 0px;
          }
        }

        div[class*="ModuleListItem_blockList__"] {
          margin-top: 0px;
        }
      }
    }
  }
}

.teaser {
  margin: 10px 0px 0px;
  padding-right: 0px;

  & > p {
    margin: 0px;
    font-weight: 500;

    @extend .text-14;
  }

  a {
    text-decoration: underline;
    color: $ui-999;

    @extend .focusable;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.meta {
  display: flex;
  align-items: flex-start;
}

.metaItem {
  display: flex;
  align-items: center;
  @include text-sm-bold;
  color: $ui-700;
  text-transform: uppercase;

  &:not(:first-child) {
    &::before {
      content: " ";
      width: 1px;
      height: 10px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  & > img {
    margin-right: 6px;
    width: 16px;
    height: 16px;
  }
}

.blocks {
  section[class^="Accordion_accordion_"] {
    margin-top: -30px;

    h4 {
      @include text-medium;
      color: $color-black;

      button[class*="Accordion_accordion__control_"] {
        border-top: 0px;

        span {
          &:before {
            position: absolute;
            content: " ";
            top: 40px;
            left: 0px;
            width: 350px;
            height: 20px;
          }
          &:after {
            position: absolute;
            top: 40px;
            right: 0px;
            margin-right: 0px;
          }
        }
      }
    }

    div[class*="ModuleListItem_blockList__"] {
      margin-top: 20px;
    }
  }
}

.blockList {
  margin-top: 47px;
}
