@import "../../../assets/sass/base/presets";
@import "../../../assets/sass/helpers/responsive-design-mixins";
@import "../../page/Home.module.scss";
@import "../../../inclusive-components/typography/body/Text.module.scss";
@import "../../../inclusive-components/A11y-common.module.scss";

.dashboard-userinfo {
  background: $ui-000;
  margin: 40px 20px;
  padding: 30px;
  box-shadow: 0px 0px 8px rgba(89, 89, 130, 0.08),
    0px 4px 33px rgba(239, 239, 241, 0.8);
  box-sizing: border-box;
  @extend .home-section;

  @include screen-from(sm) {
    display: grid;
    grid-template-columns: auto max-content;
    margin: 80px auto;
  }

  &__group {
    display: grid;
    grid-template-columns: min-content auto;
    row-gap: 4px;
    column-gap: 30px;
  }

  &__avatar {
    &-container {
      grid-column: 1 / 1;
      grid-row: 1 / 3;
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      background-color: $ui-200;
      margin: 0;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__title {
    @extend .visually-hidden;
  }

  &__fullname {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    align-self: flex-end;
    margin: 0;
    @extend .text-20;
    @extend .text-bold;
  }

  &__location {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    align-self: flex-start;
    margin: 0;
    @extend .text-18;
    &-label {
      @extend .visually-hidden;
    }
  }

  &__profile-link {
    display: block;
    margin-top: 20px;
    width: 100%;

    @include screen-from(sm) {
      margin: 0;
      width: auto;
    }
  }

  &__action {
    @include screen-from(sm) {
      display: grid;
      align-items: center;
    }
  }
}
