@import "../../assets/sass/helpers/responsive-design-mixins";
@import "../../inclusive-components/typography/heading/Heading.module.scss";
@import "../../inclusive-components/typography/body/Text.module.scss";

.catalog {
  margin: 40px auto;
  padding: 0 15px;
  box-shadow: none;
  box-sizing: border-box;

  @include screen-from(sm) {
    margin: 80px auto;
  }

  &__title {
    margin: 0 0 30px;

    @extend .h1;
  }

  &__subtitle {
    margin: 0 0 20px;

    @extend .h4;
  }

  &__empty-message {
    @extend .text-20;

    a {
      color: $green-700;
    }
  }
}
