@import "../../A11y-common.module.scss";

.input {
  &-btn {
    position: relative;
    right: 0;
    align-self: center;
    transition: right .15s linear;
    @extend .focusable;

    &::before {
      content: "";
      display: block;
      background: url("./img/input-password-hidden.svg") 50% 50% no-repeat;
      min-width: 18px;
      min-height: 18px;
      transition: all .15s linear;
    }
  
    &_password-shown {
      &::before {
        background: url("./img/input-password-shown.svg") 50% 50% no-repeat;
      }
    }

    &_has-error {
      right: 15px;
    }
  }
}
