@import "../../A11y-common.module.scss";

.input {
  &-password {
    &-group {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 20px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
