@import "../../../assets/sass/base/presets";
@import "../../../assets/sass/helpers/responsive-design-mixins";

.about-page {
  background-color: $ui-050;
  box-shadow: none;

  @include screen-from(sm) {
    position: relative;
    margin: 15px 0 0;
    max-width: none;
  }

  &::before {
    @include screen-from(sm) {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      display: block;
      background-color: #fcfcfe;
      width: 100%;
      height: 15px;
      z-index: -1;
    }
  }

  &__content {
    background-color: $ui-000;
    padding-bottom: 40px;

    @include screen-from(sm) {
      max-width: 1140px;
      margin: 50px auto;
      padding-bottom: 80px;
    }
  }
}
