@import "../../../assets/sass/base/fonts";
@import "../../../assets/sass/base/presets";
@import "../../../assets/sass/base/typography";
@import "../../../assets/sass/components/learn-content";

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/mixins/_breakpoints";

.bar {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.point {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & > div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
    }

    &:not(:last-child) {
        &::after {
            content: " ";
            display: block;
            width: 22px;
            height: 1px;
            margin-right: 4px;
            margin-left: 4px;
            border-bottom: 1px solid $ui-100;
        }
    }
}

.pointText {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include text-sm-bold;
    line-height: 12px;

    & > span {
        color: $color-black;
    }

    & > span[class=error] {
        color: $color-white;
    }

    & > span[class=current] {
        color: $color-white;
    }
}
