@import "../../../assets/sass/base/fonts";
@import "../../../assets/sass/base/presets";
@import "../../../assets/sass/base/typography";
@import "../../../assets/sass/components/learn-content";

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/mixins/_breakpoints";

@import "../../../inclusive-components/typography/body/Text.module.scss";

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 20px 0px 20px;

  & > div {
    width: 100%;
    max-width: $desktop-content-width;

    &[class*="_actions_"] {
      width: 100%;
      max-width: 626px;
    }
  }

  div[class^="InputRadio_input-radio-wrapper__"],
  div[class^="InputCheckbox_input-checkbox-wrapper__"] {
    margin-top: 32px;
  }

  & > h4 {
    @include text-h-xs;
    margin-top: 22px;
    margin-bottom: 0px;
    align-self: flex-start;
  }

  & > h5 {
    @include text-h-xs-normal;
    margin-top: 8px;
    margin-bottom: 0px;
    align-self: flex-start;
  }
}

.title {
  h2 {
    margin-top: 18px;
    margin-bottom: 0px;
    @include text;
    text-transform: uppercase;
  }
}

.questionContentText {
  @include text-xl-rare-bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.questionText {
  @include text-lg-block-content;
  color: $color-black;
  margin-top: 32px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  strong {
    @include text-h-xs;
    display: block;
    margin-bottom: 12px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
}

.actionsLoader {
  display: flex;
  justify-content: center;

  /*& > *[class^=Loader_loader__] {
    }*/
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;

  button[class^="Button_btn_"] {
    max-width: 160px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 80px;

    button[class^="Button_btn_"] {
      width: 100%;
      max-width: 294px;
    }
  }
}

.quizProgress {
  display: flex;
  justify-content: flex-start;
}

.adaptestCompleted {
  h4 {
    @include text-h;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  p {
    @include text-lg-plus;
  }

  li {
    @include text-lg-plus-bold;
  }

  a {
    text-decoration: underline;
    color: $ui-999;

    &:hover {
      text-decoration: none;
    }
  }
}

.resultTitle {
  margin: 0 0 20px;
  align-self: start;

  @extend .text-32;
  @extend .text-bold;
}

.resultDescription {
  @extend .text-20;
}

.quizLabel {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $ui-300;

  @extend .text-14;
}

.answerComment {
  border-left: 3px solid $ui-200;
  margin: 60px 0 10px;
  padding: 10px 20px 10px 60px;
  box-sizing: border-box;
  transition: all 0.15s linear;

  @extend .text-20;

  &Success {
    border-color: $green-700;
  }

  &HavingError {
    border-color: $red-700;
  }
}
