@import "../../../../assets/sass/base/fonts";
@import "../../../../assets/sass/base/presets";
@import "../../../../assets/sass/base/typography";

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/mixins/_breakpoints";

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -32px;

    @include media-breakpoint-up(md) {
        margin-bottom: 32px;
    }

    & > p {
        @include text-lg-block-content;
        color: $color-black;
        margin: 0px;
        padding: 0px;
    }
}

.modalActions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 100%;

    & > *:not(:first-child) {
        margin-top: 20px;
    }

    & > button[class*=Button_btn_secondary__] {
        width: 100%;
    }

    & > button[class*=Button_btn_reset__] {
        color: $gray-graphite;
        cursor: pointer;
        @include text-h-xxs;
    }

    & > button[class*=rate-disabled] {
        color: $color-black-opacity04;
        cursor: default;
        pointer-events: none;
    }
}

.ratingStars {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;

    img {
        cursor: pointer;

        @include media-breakpoint-up(md) {
            width: 54px;
            height: 54px;
        }
    }
}

.ratingText {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: $gray-graphite;
}

.reviewText {
    margin-top: 20px;
    margin-bottom: -10px;
    width: 100%;
}