@import "../base/presets";

/**
 * Screen breakpoints
 */

@mixin screen-from($from) {
  @if (map-has-key($breakpoints, $from)) {
    $size: map-get($breakpoints, $from);
    @media (min-width: $size) {
      @content;
    }
  }
}
@mixin screen-to($to) {
  @if (map-has-key($breakpoints, $to)) {
    $size: map-get($breakpoints, $to);
    @media (max-width: $size - 1px) {
      @content;
    }
  }
}
@mixin screen($screen_from) {
  @if (map-has-key($breakpoints, $screen_from)) {
    $size_from: map-get($breakpoints, $screen_from);
    $screens: map-keys($breakpoints);
    $screen_from_index: index($screens, $screen_from);
    @if ($screen_from_index == length($screens)) {
      @media (min-width: $size_from) {
        @content;
      }
    } @else {
      $screen_to_index: $screen_from_index + 1;
      $screen_to: nth($screens, $screen_to_index);
      $size_to: map-get($breakpoints, $screen_to) - 1px;
      @media (min-width: $size_from) and (max-width: $size_to) {
        @content;
      }
    }
  }
}
