@import "../../../assets/sass/base/presets";
@import "../../../assets/sass/helpers/responsive-design-mixins";
@import "../../../inclusive-components/form/button/Button.module.scss";
@import "../../../inclusive-components/typography/body/Text.module.scss";
@import "../../../inclusive-components/A11y-common.module.scss";

.about-tracks {
  margin: 30px auto 0;
  padding: 0 20px;
  max-width: 840px;

  @include screen-from(sm) {
    margin-top: 60px;
  }

  &__title {
    margin: 0 0 30px;
    @extend .text-bold;
    @extend .text-32;
  }

  &__lead {
    margin: 0 0 30px;
    @extend .text-20;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    margin: 0 0 30px;
    padding: 0;
    list-style-type: none;
  }

  &__btn {
    display: block;
    padding: 5px 20px;

    @extend .btn;
    @extend .btn_default;

    &[class*="__btn"] {
      font-weight: 500;

      @extend .text-16;
    }
  }
}
